# How do I rename columns in a pandas DataFrame?

In [5]:
import pandas as pd

In [6]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [7]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [8]:
# Show headers of each column.
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

### Method 1.- eplace some column names.

In [9]:
# Rename DataFrame method. We use dictionaries {'former_name':'new_name'}.
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)

In [10]:
# Let's confirm the change.
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

### Method 2.- Replace all column names.

In [30]:
# Create a list with the desire names.
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']

In [31]:
# Replace the names.
ufo.columns = ufo_cols

In [32]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

### Method 3.- Overwrite the columns while reading the file.

In [33]:
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols, header=0)

In [34]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

### BONUS TIP!

Let's pretend we have a file with 100 columns and we want to **replace all the names that contain spaces with underscore**:

In [35]:
ufo.columns = ufo.columns.str.replace(' ', '_')

In [36]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')